// Color
$common-color: #1573ff;
$accent-color: #ffd262;
$accent-color-hover: #f7ba4b;
$accent-second-color: #8836ae;
$text-dark: #191919;
$text-light: #bdbdbd;
$text-light-second: #e1e1e1;
$bg: #1e0044;
$bg-opacity: rgba(18, 1, 39, 0.6);
$color-gray: #979797;
$color-black: #000;

// Шрифты (названия в миксинах)
$font_regular: Arial;
$font_bold: Arial-b;

//Разрешения экранов
$desktop-width: 1320px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;
