// Color
$common-color: #1573ff;
$accent-color: #ffd262;
$accent-color-hover: #fdc63bfa;
$accent-second-color: #8836ae;
$text-dark: #191919;
$text-light: #bdbdbd;
$bg: #1e0044;
$color-gray: #979797;

// Шрифты (названия в миксинах)
$font_regular: Arial;
$font_bold: Arial-b;

//Разрешения экранов
$desktop-width: 1320px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;
