.callback {
  padding-bottom: 260px;
}

.callback__button-top {
  display: flex;
  justify-content: center;
  padding-bottom: 49px;
}

.callback__wrap {
  position: relative;
  max-width: 868px;
  margin: 0 auto;
  background: $accent-second-color;
  border-radius: 35px;

  &::before {
    content: '';
    position: absolute;
    width: 255px;
    height: 255px;
    background-image: url('../img/common/contacts.png');
    background-size: contain;
    left: -133px;
    bottom: -95px;
  }

  &::after {
    content: '';
    position: absolute;
    width: 295px;
    height: 337px;
    background-image: url('../img/icons/icon-star-radio-4.svg');
    background-size: contain;
    bottom: -100px;
    right: -162px;
    z-index: -1;
  }
}

.callback__title {
  position: relative;
  background-color: $common-color;
  border-radius: 35px;
  margin-bottom: 66px;
  padding: 40px 6px;
  letter-spacing: -1.5px;

  .h2 {
    text-align: center;
    font-size: 50px;
    line-height: 58px;
  }

  &::before {
    content: '';
    position: absolute;
    width: 335px;
    height: 335px;
    right: -129px;
    top: -147px;
    background-color: rgba(68, 21, 255, 0.5);
    filter: blur(83.5206px);
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    width: 260px;
    height: 260px;
    background-image: url('../img/callback/callback-horn.png');
    background-size: contain;
    right: -129px;
    top: -147px;
  }
}

.callback__form {
  display: flex;
  flex-direction: column;
  max-width: 627px;
  margin: 0 auto;
}

.callback__inputs {
  display: flex;
  flex-direction: column;
  row-gap: 39px;
  padding-bottom: 55px;
}

.callback__input {
  padding: 15px 15px 9px 23px;
  font-size: 28px;
  line-height: 58px;
  letter-spacing: -1.5px;
  background: $accent-color;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none;

  &::placeholder {
    color: #303030;
  }
}

.callback__submit {
  max-width: 346px;
  width: 100%;
  height: 86px;
  margin: 0 auto;
  font-size: 28px;
  line-height: 58px;
  letter-spacing: -1.5px;
  color: #fff;
  background: #1573ff;
  border: 2px solid #f7ba4b;
  border-radius: 30px;
}

.callback__checkbox {
  display: flex;
  align-items: center;
  column-gap: 15px;
  max-width: 630px;
  margin: 0 auto;
  padding-bottom: 68px;
  padding-top: 52px;
  cursor: pointer;

  input {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    order: 0.5px solid #000000;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
  }

  span {
    @include font($font_bold);
    font-size: 20px;
    line-height: 21px;
    letter-spacing: -1.5px;
    color: #fff;
  }

  a {
    color: #05f800;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $accent-color;
    }
  }
}
