.callback {
  padding-bottom: 260px;
}

.callback__button-top {
  display: flex;
  justify-content: center;
  padding-bottom: 49px;
}

.callback__wrap {
  position: relative;
  max-width: 868px;
  margin: 0 auto;
  background: $accent-second-color;
  border-radius: 35px;

  &::before {
    content: '';
    position: absolute;
    width: 255px;
    height: 255px;
    left: -133px;
    bottom: -95px;
    background-image: url('../img/common/contacts.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  &::after {
    content: '';
    position: absolute;
    width: 295px;
    height: 337px;
    bottom: -100px;
    right: -162px;
    background-image: url('../img/icons/icon-star-radio-4.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.callback__title {
  position: relative;
  background-color: $common-color;
  border-radius: 35px;
  margin-bottom: 66px;
  padding: 40px 6px;
  letter-spacing: -1.5px;

  .h2 {
    text-align: center;
    font-size: 50px;
    line-height: 58px;
  }

  &::before {
    content: '';
    position: absolute;
    width: 335px;
    height: 335px;
    right: -129px;
    top: -147px;
    background-color: rgba(68, 21, 255, 0.5);
    filter: blur(83.5206px);
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    width: 260px;
    height: 260px;
    right: -129px;
    top: -147px;
    background-image: url('../img/callback/callback-horn.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.callback__form {
  display: flex;
  flex-direction: column;
  max-width: 627px;
  margin: 0 auto;
}

.callback__inputs {
  display: flex;
  flex-direction: column;
  row-gap: 39px;
  padding: 0 10px 55px 10px;
}

.callback__input {
  padding: 15px 15px 9px 23px;
  font-size: 28px;
  line-height: 58px;
  letter-spacing: -1.5px;
  background: $accent-color;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none;

  &::placeholder {
    color: #303030;
  }
}

.callback__submit {
  max-width: 346px;
  width: 100%;
  height: 86px;
  margin: 0 auto;
  font-size: 28px;
  line-height: 58px;
  letter-spacing: -1.5px;
  color: #fff;
  background: #1573ff;
  border: 2px solid #f7ba4b;
  border-radius: 30px;

  &[disabled] {
    cursor: none;
    opacity: 0.8;
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: no-drop;

    &:hover {
      cursor: none;
      opacity: 0.8;
      border: 1px solid $text-light;
      background-color: $text-light-second;
      cursor: no-drop;
    }
  }
}

.callback__checkbox {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 15px;
  max-width: 630px;
  margin: 0 auto;
  padding-bottom: 68px;
  padding-top: 52px;
  cursor: pointer;

  input {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    order: 0.5px solid #000000;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    cursor: pointer;
  }

  span {
    @include font($font_bold);
    font-size: 20px;
    line-height: 21px;
    letter-spacing: -1.5px;
    color: #fff;
  }

  a {
    color: #05f800;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $accent-color;
    }
  }
}

@include laptop {
  .callback {
    padding-bottom: 150px;
  }

  .callback__wrap {
    &::before {
      width: 195px;
      height: 195px;
      left: -73px;
      bottom: -55px;
    }
  }

  .callback__title {
    padding: 30px 6px;
    margin-bottom: 55px;

    &::after {
      right: -79px;
      top: -107px;
      width: 210px;
      height: 210px;
    }
  }

  .callback__inputs {
    row-gap: 35px;
    padding-bottom: 45px;
  }

  .callback__input {
    font-size: 25px;
    line-height: 46px;
  }

  .callback__checkbox {
    padding-bottom: 55px;
    padding-top: 40px;
  }
}

@include tablet {
  .callback {
    padding-bottom: 80px;
  }

  .callback__button-top {
    padding-bottom: 25px;
  }

  .callback__title {
    .h2 {
      font-size: 40px;
      line-height: 40px;
    }

    &::after {
      right: -39px;
      top: -95px;
      width: 180px;
      height: 180px;
    }
  }

  .callback__wrap {
    &::before {
      width: 155px;
      height: 155px;
      left: -23px;
      bottom: -75px;
    }

    &::after {
      right: -100px;
    }
  }

  .callback__inputs {
    row-gap: 25px;
    padding-bottom: 35px;
  }

  .callback__input {
    font-size: 23px;
    line-height: 40px;
  }

  .callback__checkbox {
    padding-top: 30px;
  }
}

@include mobile {
  .callback {
    padding-bottom: 40px;
  }

  .callback__wrap {
    &::before {
      width: 85px;
      height: 85px;
      left: unset;
      bottom: -40px;
      right: 0;
    }
  }

  .callback__title {
    padding: 15px 6px;
    margin-bottom: 35px;

    &::after {
      right: -20px;
      top: -45px;
      width: 90px;
      height: 90px;
    }

    .h2 {
      font-size: 28px;
      line-height: 30px;
    }
  }

  .callback__inputs {
    row-gap: 15px;
    padding-bottom: 25px;
  }

  .callback__input {
    padding: 13px 10px 10px 14px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0px;
  }

  .callback__checkbox {
    padding: 20px 10px 35px;
    column-gap: 5px;

    input {
      margin: 0;
    }

    span {
      @include font($font_regular);
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.7px;
    }
  }
}

@media screen and (max-width: 400px) {
  .callback__submit {
    max-width: calc(100% - 20px);
  }
}
