.first-screen {
  padding-top: 106px;
  padding-bottom: 170px;
}

.fs__wrap {
  position: relative;
  display: flex;
  align-items: center;
}

.fs__main {
  display: grid;
  grid-template-columns: 391px auto;
  align-items: center;
  column-gap: 104px;
  row-gap: 61px;
  max-width: 930px;
  z-index: 1;
}

.fs__title {
  position: relative;
  display: inline-block;
  grid-column: 1/3;
  max-width: 530px;
  letter-spacing: -3px;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    width: 141px;
    height: 139px;
    bottom: -54px;
    left: 31%;
    background-image: url('../img/common/rub.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.fs__labels {
  grid-row: 2/3;
  grid-column: 1/2;
  display: inline-flex;
  flex-wrap: wrap;
  column-gap: 7px;
  row-gap: 9px;
}

.fs__label {
  padding: 12px 16px 13px;
  text-align: center;
  flex-shrink: 0;
  flex-grow: 1;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.5px;
  background-color: $common-color;
  border-radius: 30px;
}

.fs__subtitle {
  @include font($font_bold);
  font-size: 33px;
  line-height: 30px;
  letter-spacing: -0.025em;
  z-index: 1;
}

.fs__image {
  position: absolute;
  right: -45px;
  top: 45%;
  transform: translateY(-50%);
}

.fs__image-wrap {
  position: relative;

  img {
    position: relative;
  }

  &::before {
    content: '';
    position: absolute;
    width: 386px;
    height: 461px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(68, 21, 255, 0.5);
    filter: blur(83.5206px);
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    width: 98px;
    height: 98px;
    left: -50px;
    top: 16px;
    background-image: url('../img/icons/icon-star-gold.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@include laptop {
  .first-screen {
    padding-top: 80px;
    padding-bottom: 120px;
  }

  .fs__subtitle {
    font-size: 29px;
  }

  .fs__image {
    right: -45px;
    top: -40px;
    transform: translateY(0);
  }

  .fs__image-wrap {
    max-width: 400px;
  }
}

@include tablet {
  .first-screen {
    padding-bottom: 70px;
  }

  .fs__main {
    grid-template-columns: 440px auto;
    row-gap: 30px;
  }

  .fs__title {
    grid-column: 1/2;
    margin-bottom: 20px;
    letter-spacing: -1px;
  }

  .fs__subtitle {
    grid-column: 1/3;
    max-width: 440px;
  }

  .fs__image {
    top: 40px;
  }

  .fs__image-wrap {
    max-width: 330px;

    &::after {
      width: 68px;
      height: 68px;
      top: -15px;
      left: -30px;
    }
  }
}

@include mobile {
  .first-screen {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .fs__wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .fs__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .fs__title {
    max-width: 400px;
  }

  .fs__subtitle {
    grid-column: 1/2;
    letter-spacing: 0;
  }

  .fs__image {
    position: unset;
    margin: 0 auto;
  }

  .fs__image-wrap {
    max-width: 200px;

    &::before {
      width: 231px;
      height: 231px;
    }

    &::after {
      top: 25px;
      left: -40px;
    }
  }
}
