.partners {
  padding-bottom: 95px;

  .h2 {
    @include font($font_regular);
    position: relative;
    font-size: 147px;
    line-height: 110px;
    letter-spacing: -6.5px;
    margin-left: 54px;
    margin-top: 7px;
  }
}

.partners__button-top {
  position: relative;
  display: flex;
  align-items: center;

  .h2 {
    margin-left: auto;
    margin-right: 63px;
    margin-top: 0;
  }

  .button-border {
    position: relative;
    margin-top: 17px;
    margin-left: 60px;
    padding: 15px 26px 15px;

    &::before {
      content: '';
      position: absolute;
      width: 138px;
      height: 138px;
      top: 8%;
      right: -219px;
      transform: translateY(-50%);
      background-image: url('../img/icons/icon-star-gold.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: 335px;
    height: 335px;
    bottom: -275px;
    left: 360px;
    background: rgba(68, 21, 255, 0.5);
    border-radius: 50%;
    filter: blur(83.5206px);
    z-index: -1;
  }
}

.partners__cart {
  padding-top: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2px;
  padding-bottom: 65px;
}

.partners__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 229px;
  height: 135px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 25px;
  overflow: hidden;
}

.partners__contacts {
  position: relative;
  display: flex;
  align-items: center;
  max-width: calc(1165px - 100px);
  margin: 0 auto;
  padding: 33px 47px 32px 53px;
  background: $accent-second-color;
  border-radius: 25px;
}

.partners__contacts-text {
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.5px;

  a {
    color: #ff8562;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $accent-color;
    }
  }
}

.partners__contacts-img {
  position: absolute;
  right: 83px;
}

@include laptop {
  .partners {
    padding-bottom: 75px;

    .h2 {
      font-size: 122px;
    }
  }

  .partners__button-top {
    .h2 {
      margin-right: 0;
    }

    .button-border {
      &::before {
        width: 98px;
        height: 98px;
        top: 20px;
        right: -159px;
      }
    }
  }

  .partners__cart {
    padding-top: 56px;
    padding-bottom: 50px;
  }

  .partners__item {
    height: 115px;
  }
}

@include tablet {
  .partners {
    padding-bottom: 50px;

    .h2 {
      font-size: 100px;
      line-height: 90px;
    }
  }

  .partners__button-top {
    .button-border {
      margin-left: 0;

      &::before {
        width: 68px;
        height: 68px;
        top: 25px;
        right: -72px;
      }
    }
  }

  .partners__cart {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .partners__item {
    height: 85px;

    img {
      width: 80%;
    }
  }

  .partners__contacts {
    padding: 25px 40px 25px 30px;
  }

  .partners__contacts-text {
    font-size: 18px;
  }

  .partners__contacts-img {
    right: 0;
    max-width: 140px;
  }
}

@include mobile {
  .partners {
    padding-bottom: 40px;

    .h2 {
      font-size: 53px;
      line-height: 50px;
      letter-spacing: -1.5px;
      margin-left: 0;
      margin-right: auto;
      max-width: 400px;
      margin: 0 auto;
      text-align: center;
    }
  }

  .partners__button-top {
    flex-direction: column;
    row-gap: 50px;

    .button-border {
      margin-top: 0;

      &::before {
        width: 38px;
        height: 38px;
        top: unset;
        right: 50%;
        left: 50%;
        bottom: -50px;
        transform: translateX(-50%);
      }
    }

    &::before {
      width: 205px;
      height: 205px;
      bottom: -40px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .partners__cart {
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .partners__item {
    img {
      width: 70%;
    }
  }

  .partners__contacts {
    max-width: 440px;
    padding: 20px;
  }

  .partners__contacts-text {
    font-size: 16px;
    line-height: 25px;
  }

  .partners__contacts-img {
    right: -10px;
    max-width: 80px;
    bottom: -30px;
  }
}
