.who-can {
  .container {
    padding-top: 33px;
    border-top: 1px solid $color-gray;
  }
}

.wh__top {
  position: relative;
  padding-bottom: 48px;

  .button-border {
    position: absolute;
    padding: 14px 23px 14px;
    left: 71px;
    top: 4px;
  }

  &::after {
    content: '';
    position: absolute;
    width: 130px;
    height: 130px;
    top: 3px;
    right: -21px;
    background-image: url('../img/icons/icon-star-gold.svg');
    background-size: contain;
  }
}

.wh__title {
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

.wh__wrap {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}

.wh__info {
}

.wh__images {
  display: flex;
  padding-left: 9px;
  padding-bottom: 55px;

  img {
    border-radius: 50%;

    + img {
      margin-left: -29px;
    }
  }
}

.wh__description {
  display: block;
  max-width: 500px;
  color: $accent-color;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: 0.5px;
}

.wh__text {
  display: flex;
  flex-direction: column;
  row-gap: 58px;
  max-width: 608px;
  padding-top: 6px;

  p {
    color: $text-light;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: 0.5px;
  }
}
