.why {
  padding-bottom: 146px;
}

.why__button-top {
  display: flex;
  justify-content: center;

  .button {
    padding: 15px 22px 13px;
  }
}

.why__title {
  padding-top: 36px;
  padding-bottom: 28px;
  margin-bottom: 35px;
  text-align: center;
  border-bottom: 1px solid $color-gray;
}

.why__wrap {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  row-gap: 10px;
  max-width: 1205px;
  margin: 0 auto;
  padding-bottom: 57px;

  &::after {
    content: '';
    position: absolute;
    width: 618px;
    height: 580px;
    right: -208px;
    bottom: -154px;
    background-image: url('../img/icons/icon-star-radio-1.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.why__item {
  position: relative;
  padding: 35px 100px 10px 63px;
  min-height: calc(359px - 45px);
  background-color: $accent-second-color;
  border-radius: 35px;
  z-index: 1;

  &:nth-child(2n) {
    padding-left: 38px;

    .why__text {
      max-width: 400px;
    }
  }
}

.why__name {
  @include font($font_bold);
  display: inline-block;
  padding-bottom: 11px;
  max-width: 310px;
  min-height: 116px;
  font-size: 32px;
  line-height: 35px;
}

.why__icon {
  position: absolute;
  right: 9px;
  top: 9px;
}

.why__text {
  display: inline-block;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.5px;
}

.why__button-bottom {
  position: relative;
  display: flex;
  justify-content: center;

  .button {
    max-width: 532px;
    width: 100%;
  }
}

@include laptop {
  .why {
    padding-bottom: 90px;
  }

  .why__wrap {
    padding-bottom: 40px;

    &::after {
      right: -76px;
      width: 441px;
      height: 443px;
    }
  }

  .why__item {
    padding: 29px 30px 25px 30px;
    min-height: 280px;
  }

  .why__name {
    min-height: 105px;
  }

  .why__icon {
    right: 15px;
    top: 15px;

    img {
      max-width: 70%;
      margin-left: auto;
    }
  }

  .why__button-bottom {
    .button {
      max-width: 470px;
    }
  }
}

@include tablet {
  .why {
    padding-bottom: 70px;
  }

  .why__wrap {
    &::after {
      right: -56px;
    }
  }

  .why__name {
    font-size: 26px;
    max-width: 235px;
  }

  .why__icon {
    img {
      max-width: 60%;
    }
  }

  .why__text {
    font-size: 15px;
  }
}

@include mobile {
  .why {
    padding-bottom: 41px;
  }

  .why__title {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .why__wrap {
    grid-template-columns: auto;

    &::after {
      bottom: -134px;
    }
  }

  .why__item {
    min-height: auto;
    padding: 20px 15px 20px 20px;

    &:nth-child(2n) {
      padding: 20px 15px 20px 20px;
    }
  }

  .why__icon {
    right: 5px;
    top: 15px;

    img {
      max-width: 50%;
    }
  }

  .why__name {
    max-width: 100%;
    padding-right: 50px;
    padding-bottom: 6px;
    min-height: auto;
    font-size: 23px;
    line-height: 29px;
  }

  .why__text {
    font-size: 15px;
  }
}
